body{
  background-color: #bd1748;
}
.dati{
  background-color: white;
  color: #bd1748;
  border-radius: 10px;
}
.title{
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.dati p{
  padding-top: 20px;
}
.dati button{
  margin-top: 40px;
  margin-bottom: 30px;
}
.dati input, .dati select{
  border-radius: 5px;
  border: 2px solid #bd1748;
}
.detail{
  text-align: center;
  color: white;
  padding-top: 30px;
}
.tabella{
  background-color: white;
  border-radius: 10px;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
h4{
  padding-top: 30px;
}
.tabella table{
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}
table .passeggero{
  background-color: grey;
}
table td:first-child{
  background-color: grey;
}
table th, table td{
  padding-top: 30px;
  padding-bottom: 30px;
}
